<!DOCTYPE html>
<html>
<head>
<title>Admin Trust Surface</title>
<link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_truth_v2_binding.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site_registry.css') }}">
</head>
<body>
<h1>Admin Trust Surface</h1>
<div id="identity"></div>
<div id="billing"></div>
<div id="insight"></div>
<script src="/static/js/admin.js"></script>
<script src="{{ url_for('static', filename='js/admin_truth_v2_binding.js') }}"></script>
<script src="{{ url_for('static', filename='js/site_registry.js') }}"></script>
</body>
</html>


